extends layout

block content
  div.container-fluid
    div.row
      div.col-sm-3
        // Nothing goes here!
      div.col-sm-6
        // Everything goes here!
        h1 Flash Cards, yo!

        form(name="options", action="/review", method="GET")
          select(name="deck_choice")
            - for deck in available_decks
              option(value=deck) #{deck}
          input(type="submit", value="Review Selected Deck")
      div.col-sm-3
        // Nothing goes here!
